<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <title>Strona Główna</title>
  <style>
    .btn {
      display: inline-block;
      padding: 12px 24px;
      font-size: 16px;
      background-color: #007BFF;
      color: white;
      text-decoration: none;
      border-radius: 8px;
      transition: background-color 0.3s;
    }

    .btn:hover {
      background-color: #0056b3;
    }
  </style>
</head>
<body>

  <h1>Witamy na stronie głównej</h1>

  <a href="/budynki" class="btn">Przejdź do budynków</a>
  <a href="/sale" class="btn">Przejdź do sal</a>
</body>
</html>
